<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Banco de dados</title>
  </head>
  <body>
    <div class="main-container">
      <h1 class="page-title">Projeto BeMobile</h1>
      <div class="details-info">
        <h1><%= dados.tipoProdutos %></h1>
        <% if (dados.isDeleted == 0) { %>
            <h1>Status: ATIVO</h1>
         <% } else { %>
          <h1>Status: DESATIVADO</h1>
        <% } %>
        <h2>ID do produto: <%= dados.idProdutos %></h2>
        <br />
        <h3>Marca: <%= dados.marcaProdutos %></h3>
        <h3>Modelo: <%= dados.modeloProdutos %></h3>
        <h3>Preço: <%= dados.precoProdutos %></h3>
        <a
          href="../view/produtos/edit/<%= dados.idProdutos %>"
          class="detail-buttons"
          >Editar</a
        >
        <form action="/view/produtos/<%= dados.idProdutos %>" method="post">
          <input type="submit" <% if (dados.isDeleted == 0) { %>
            value="Desativar"
            <% } else { %>
                value="Ativar"
          <% } %>></input>
        </form>
      </div>
      <div class="details-compras">
        <h2>Vendas:</h2>
        <li class="compras-lista">
          <ul class="legenda-infos">
            <div><h2>ID</h2></div>
            <div><h2>Cliente</h2></div>
            <div><h2>Quantidade</h2></div>
          </ul>
        <% compras.forEach(element => { %>
        <% cliente.forEach(cliente => { %>
        <div><%= element.timeVendas %></div>
          <ul class="compras-info">
            <div><%= element.idVendas %></div>
            <div><%= cliente.nomeClientes %></div>
            <div><%= element.quantidadeVendas %></div>
            <div>R$ <%= element.precotoVendas = (element.quantidadeVendas * element.precounVendas) %></div>
          </ul>
        <% }) %>
        <% }) %>
        </li>
      </div>
      <a
        href="/view/produtos"
        id="register-button"
        style="align-items: center; justify-content: center; display: flex"
        >Produtos</a
      >
    </div>
  </body>
</html>